# U.S. Recorded Music Revenues by Format

* **Data:** `Revenue_Chart_Full_Data_data.csv`
* **Description:** Once upon a time cassette tapes were popular. This is their dataset.
* **Source:** https://public.tableau.com/shared/4Z36JM5NN?%3AshowVizHome=no
* **Columns of interest:**
    * `Format` the format of the music - cassette, vinyl, CD, etc.
    * `Year` is the year the data is for
    * `Value (For Charting)` is the revenue (in millions) that format made in that year

The file is tab-separated, not comma-separated, so you'll need to pass in `sep='\t'` when reading it in.

In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}' .format)
df = pd.read_csv("Revenue_Chart_Full_Data_data.csv", sep='\t')
df.head()

/Users/prinzmagtulis/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,Year of Year Date,Adjusted for Inflation Notes,Adjusted for Inflation Title,Format,Metric,Year,Value (For Charting),Adjusted for Inflation Flag,Year Date,Format Value # (Billion),Format Value # (Million),Total Value # (Billion),Total Value # (Million),Total Value For Year,Value (Actual),Year (copy)
0,2005,NaN,NaN,Cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005
1,2015,NaN,NaN,CD Single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015
2,2015,NaN,NaN,Paid Subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015
3,2017,NaN,NaN,Download Single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017
4,1986,NaN,NaN,Vinyl Single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986

In [2]:
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns= df.columns.str.lower().str.replace("#", "no")
df.head(25)

,year_of_year_date,adjusted_for_inflation_notes,adjusted_for_inflation_title,format,metric,year,value_(for_charting),adjusted_for_inflation_flag,year_date,format_value_no_(billion),format_value_no_(million),total_value_no_(billion),total_value_no_(million),total_value_for_year,value_(actual),year_(copy)
0,2005,NaN,NaN,Cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005
1,2015,NaN,NaN,CD Single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015
2,2015,NaN,NaN,Paid Subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015
3,2017,NaN,NaN,Download Single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017
4,1986,NaN,NaN,Vinyl Single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986
5,2003,NaN,NaN,DVD Audio,Value,2003,8.0,NaN,2003,NaN,$8.0M,$11.9B,NaN,$11854.4B,8.0,2003
6,2006,NaN,NaN,Download Album,Value,2006,275.9,NaN,2006,NaN,$275.9M,$11.8B,NaN,$11759.5B,275.9,2006
7,2011,NaN,NaN,Download Music Video,Value,2011,32.4,NaN,2011,NaN,$32.4M,$7.1B,NaN,$7135.6B,32.4,2011
8,1992,NaN,NaN,CD,Value,1992,"5,326.5",NaN,1992,$5.3B,NaN,$9.0B,NaN,$9024.0B,"5,326.5",1992
9,2010,NaN,NaN,Download Album,Value,2010,872.4,NaN,2010,NaN,$872.4M,$7.0B,NaN,$7013.8B,872.4,2010
10,2007,NaN,NaN,Vinyl Single,Value,2007,4.0,NaN,2007,NaN,$4.0M,$10.7B,NaN,$10650.9B,4.0,2007
11,2017,NaN,NaN,CD Single,Value,2017,0.182339213,NaN,2017,NaN,$0.2M,$8.5B,NaN,$8503.2B,0.182339213,2017
12,1978,NaN,NaN,Vinyl Single,Value,1978,260.3,NaN,1978,NaN,$260.3M,$4.1B,NaN,$4131.4B,260.3,1978
13,2003,NaN,NaN,Music Video (Physical),Value,2003,399.9,NaN,2003,NaN,$399.9M,$11.9B,NaN,$11854.4B,399.9,2003
14,1999,NaN,NaN,Cassette Single,Value,1999,48.0,NaN,1999,NaN,$48.0M,$14.6B,NaN,$14584.7B,48.0,1999
15,1998,NaN,NaN,Cassette Single,Value,1998,94.4,NaN,1998,NaN,$94.4M,$13.7B,NaN,$13711.2B,94.4,1998
16,1981,NaN,NaN,Cassette,Value,1981,"1,062.8",NaN,1981,$1.1B,NaN,$4.0B,NaN,$3973.9B,"1,062.8",1981
17,1995,NaN,NaN,Cassette Single,Value,1995,236.3,NaN,1995,NaN,$236.3M,$12.3B,NaN,$12320.3B,236.3,1995
18,2020,NaN,NaN,Download Single,Value,2020,312.819057954,NaN,2020,NaN,$312.8M,$12.2B,NaN,$12153.4B,312.819057954,2020
19,2014,NaN,NaN,SACD,Value,2014,0.76344539,NaN,2014,NaN,$0.8M,$6.7B,NaN,$6694.7B,0.76344539,2014
20,2019,NaN,NaN,Synchronization,Value,2019,281.112735759,NaN,2019,NaN,$281.1M,$11.1B,NaN,$11130.4B,281.112735759,2019
21,1998,NaN,NaN,Music Video (Physical),Value,1998,508.0,NaN,1998,NaN,$508.0M,$13.7B,NaN,$13711.2B,508.0,1998
22,2002,NaN,NaN,DVD Audio,Value,2002,8.5,NaN,2002,NaN,$8.5M,$12.6B,NaN,$12615.8B,8.5,2002
23,2012,NaN,NaN,SoundExchange Distributions,Value,2012,462.0,NaN,2012,NaN,$462.0M,$7.0B,NaN,$7015.7B,462.0,2012
24,1999,NaN,NaN,CD,Value,1999,"12,816.3",NaN,1999,$12.8B,NaN,$14.6B,NaN,$14584.7B,"12,816.3",1999

In [3]:
df.dtypes

year_of_year_date                 int64
adjusted_for_inflation_notes    float64
adjusted_for_inflation_title    float64
format                           object
metric                           object
year                              int64
value_(for_charting)            float64
adjusted_for_inflation_flag     float64
year_date                         int64
format_value_no_(billion)        object
format_value_no_(million)        object
total_value_no_(billion)         object
total_value_no_(million)        float64
total_value_for_year             object
value_(actual)                  float64
year_(copy)                       int64
dtype: object

## Create a numeric column called `revenue` that is the amount of revenue in dollars

In [4]:
df= df.rename(columns={"value_(for_charting)" : "revenue"})
df.head()

,year_of_year_date,adjusted_for_inflation_notes,adjusted_for_inflation_title,format,metric,year,revenue,adjusted_for_inflation_flag,year_date,format_value_no_(billion),format_value_no_(million),total_value_no_(billion),total_value_no_(million),total_value_for_year,value_(actual),year_(copy)
0,2005,NaN,NaN,Cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005
1,2015,NaN,NaN,CD Single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015
2,2015,NaN,NaN,Paid Subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015
3,2017,NaN,NaN,Download Single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017
4,1986,NaN,NaN,Vinyl Single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986

## What format has made the second most money over the course of this dataset?

In [5]:
df.groupby("format").revenue.sum().sort_values(ascending=False)
#Cassette

format
CD                                     205,567.501126091
Cassette                                        48,701.7
LP/EP                                   30,017.093188289
Paid Subscription                       27,731.944903242
Download Single                         15,493.555737714
Download Album                          11,598.470925049
SoundExchange Distributions                      7,865.7
Music Video (Physical)                   7,442.035332738
8 - Track                                        5,618.7
On-Demand Streaming (Ad-Supported)   5,201.3151695120005
Ringtones & Ringbacks                    5,177.863761357
Vinyl Single                             4,784.799531013
Limited Tier Paid Subscription           2,928.435154578
Synchronization                          2,638.112967446
Cassette Single                                  2,332.8
CD Single                                1,549.078047424
Other Ad-Supported Streaming               921.292067469
Download Music Video                       273.299760617
Other Digital                               94.269065888
SACD                                         78.41490905
DVD Audio                                   63.735459546
Kiosk                                       49.547820681
Other Tapes                                         44.2
Name: revenue, dtype: float64

## What percent of total revenue was that one format responsible for?

I want a sentence like, `according to our dataset, compact discs have been responsible for ___% of the music industry's revenue`.

In [63]:
#df.groupby("format").revenue.sum().sort_values(ascending=False).value_counts(normalize=True)
#When I remove sort_values and just include value_counts(normalize), the "format" column disappears.
#Not sure how to go about it.
df.groupby("format").revenue.sum().sort_values(ascending=False)

format
CD                                     205,567.501126091
Cassette                                        48,701.7
LP/EP                                   30,017.093188289
Paid Subscription                       27,731.944903242
Download Single                         15,493.555737714
Download Album                          11,598.470925049
SoundExchange Distributions                      7,865.7
Music Video (Physical)                   7,442.035332738
8 - Track                                        5,618.7
On-Demand Streaming (Ad-Supported)   5,201.3151695120005
Ringtones & Ringbacks                    5,177.863761357
Vinyl Single                             4,784.799531013
Limited Tier Paid Subscription           2,928.435154578
Synchronization                          2,638.112967446
Cassette Single                                  2,332.8
CD Single                                1,549.078047424
Other Ad-Supported Streaming               921.292067469
Download Music Video                       273.299760617
Other Digital                               94.269065888
SACD                                         78.41490905
DVD Audio                                   63.735459546
Kiosk                                       49.547820681
Other Tapes                                         44.2
Name: revenue, dtype: float64

## What formats were sold over the largest number of years?

For example, vinyl singles were sold for almost fifty years, while downloadable albums have only existed briefly.

In [7]:
df.format.value_counts()

LP/EP                                 48
Vinyl Single                          48
CD                                    38
Cassette                              37
CD Single                             32
Music Video (Physical)                32
DVD Audio                             19
SACD                                  18
Download Album                        17
Download Single                       17
SoundExchange Distributions           17
Download Music Video                  16
Paid Subscription                     16
Ringtones & Ringbacks                 16
Kiosk                                 16
Cassette Single                       14
Synchronization                       12
8 - Track                             10
On-Demand Streaming (Ad-Supported)    10
Limited Tier Paid Subscription         6
Other Ad-Supported Streaming           5
Other Digital                          5
Other Tapes                            4
Name: format, dtype: int64

## What was the total revenue for cassettes?

Include both cassettes and cassette singles.

In [10]:
df[df['format'].str.contains("Cassette") | df['format'].str.contains("Cassette Single")].revenue.sum()

51034.5

## What format has made the most money after 2015?

In [11]:
df.year_date = pd.to_datetime(df.year_date, format="%Y", errors="coerce")

In [58]:
df.groupby("format").resample('A', on='year_date').revenue.sum().sort_values(ascending=False)

format                          year_date
CD                              2000-12-31      13,214.5
                                2001-12-31      12,909.4
                                1999-12-31      12,816.3
                                2002-12-31      12,044.1
                                2004-12-31      11,446.5
                                                 ...
CD Single                       2018-12-31   0.015804147
Cassette                        2009-12-31           0.0
CD Single                       1989-12-31           0.0
DVD Audio                       2013-12-31           0.0
Limited Tier Paid Subscription  2015-12-31           0.0
Name: revenue, Length: 455, dtype: float64

## What three years had the highest total revenue?

Note that this isn't adjusted for inflation, but that's okay for this exercise.

In [32]:
df.resample('A', on='year_date').revenue.sum().sort_values(ascending=False).head(3)

year_date
1999-12-31   14,584.699999999999
2000-12-31              14,323.7
2001-12-31   13,746.199999999999
Name: revenue, dtype: float64